<!DOCTYPE html>
{% extends "common_template.html" %}

{% block script %}
    <script type="text/javascript" src="/static/events_common.js"></script>
    <script>
    $(document).ready(function() {

        $('#production_date').datepicker({format: 'yyyy-mm-dd', weekStart: 1});
        $('#recipients_date').datepicker({format: 'yyyy-mm-dd', weekStart: 1});

        function serialize_product(product_div) {
            return {
                'product_id': $(product_div).find(".product_name").attr("product_id").replace("product",""),
                'amount': $(product_div).find(".product_amount").text()
            };
        }

        function serialize_products(products_div) {
            var result = [];
            $(products_div).find(".product_div").each(function() {
                result.push(serialize_product($(this)));
            });
            return result;
        }


        $("#add_product_button").click(function() {
            if(!validate_add_product()) {
                showErrorsModal();
                return;
            }
            $product_div = $("<div/>").addClass("panel-body").addClass("product_div").addClass("row");
            $product_name = $("<div/>").addClass("product_name").addClass("col-md-7").text($("#products_list :selected").text()).attr("product_id", "product"+$("#products_list").val());
            $product_amount = $("<div/>").addClass("product_amount").addClass("col-md-3").text($("#amount").val());
            $remove_button = $("<button/>").addClass("btn").addClass("btn-default").addClass("btn-md").addClass("rm_product_button").text("remove");
            $product_div.append($product_name);
            $product_div.append($product_amount);
            $product_div.append($remove_button);

            $("#amount").val("");

            $("#products_panel").append($product_div);

        });

        $('#save_button').click(function() {
            if(!validate_create_event()) {
                showErrorsModal();
                return;
            }
            var result = {
                'producer': $('#producer').val(),
                'recipient': $('#recipient').val(),
                'production_date': $('#production_date').find('input').val(),
                'recipients_date': $('#recipients_date').find('input').val(),
                'products': serialize_products($('#products_div')),
                'comment': $('#comment').val()
            }

            $.post(
                '/events/edit/{{ event.id }}/',
                JSON.stringify(result)
            ).done(function(data) {
                if(data.status && data.status != 'OK') {
                    $.each(data.errors, function() {
                        createErrorMessage(this);
                    })
                    showErrorsModal()
                }
            }).fail(function(data) {
                createErrorMessage('status: '+data.status+', statusTEXT: '+data.statusText);
                showErrorsModal();
            })
        });

        $("#cancel_button").click(function() {
            window.location.href = "/home/";
        })

        $("body").on('click', '.rm_product_button', function() {
            $(this).parent().remove();
        });
    });
    </script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/datepicker.css" />
{% endblock %}

{% block jumbo-header %}
    EDIT EVENT
{% endblock %}

{% block jumbo-content %}
    <input type="hidden" id="event_id" value="{{ event.id }}"/>
    <div class="row">
        <div class="col-md-4">
            <div class="col-md-5">producer:</div>
            <div class="col-md-6"><input type="text" name="producer" id="producer" value="{{ event.producer }}"/></div>
        </div>
        <div class="col-md-5">
            <div class="col-md-6">production date:</div>
            <div class="col-md-6">
                <div id="production_date" class="input-append date" data-date="{{ event.production_date }}">
                    <input class="span2" size="16" type="text" value="{{ event.production_date }}">
                    <span class="add-on"><i class="icon icon_calendar"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="col-md-5">recipient:</div>
            <div class="col-md-6"><input type="text" name="recipient" id="recipient" value="{{ event.recipient }}"/></div>
        </div>
        <div class="col-md-5">
            <div class="col-md-6">recipient's date:</div>
            <div class="col-md-6">
                <div id="recipients_date" class="input-append date" data-date="{{ event.recipients_date }}">
                    <input class="span2" size="16" type="text" value="{{ event.recipients_date }}">
                    <span class="add-on"><i class="icon icon_calendar"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="col-md-5">comment:</div>
            <div class="col-md-6"><textarea cols="50" rows="5" id="comment">{{ event.comment }}</textarea></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            products:
            <div id="products_div">
                <div id="products_panel" class="panel">
                    {% for load in event.loads %}
                        <div class="panel-body product_div row" id="{{ load.id }}">
                            <div class="product_name col-md-7" product_id="{{ load.product.id }}">{{ load.product.name }}</div>
                            <div class="product_amount col-md-3">{{ load.amount }}</div>
                            <button class="btn btn-default btn-md rm_product_button">remove</button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            product: <select id="products_list">
                {% for product in products %}
                <option value="{{ product.id }}">{{ product.name }}</option>
                {% endfor %}
            </select></div>
        <div class="col-md-4">
            amount: <input type="text" id="amount"/>
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary btn-lg" id="add_product_button">add product</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"><button class="btn btn-primary btn-lg" id="save_button">save</button></div>
        <div class="col-md-1 col-md-offset-1"><button class="btn btn-warning btn-lg" id="cancel_button">cancel</button></div>
    </div>

{% endblock %}