<!DOCTYPE html>
{% extends "common_template.html" %}
{% block script %}
<script>
        $(document).ready(function() {

            $('#production_date').datepicker({format: 'yyyy-mm-dd', weekStart: 1});
            $('#recipients_date').datepicker({format: 'yyyy-mm-dd', weekStart: 1});

            function serialize_product(product_div) {
                return {
                    'product_id': $(product_div).attr("id"),
                    'amount': $(product_div).find(".product_amount").text()
                };
            }

            function serialize_products(products_div) {
                var result = [];
                $(products_div).find(".product_div").each(function() {
                    result.push(serialize_product($(this)));
                });
                return result;
            }


            $("#add_product_button").click(function() {
                $product_div = $("<div/>").addClass("panel-body").addClass("product_div").addClass("row").attr("id", $("#products_list").val());
                $product_name = $("<div/>").addClass("product_name").addClass("col-md-7").text($("#products_list :selected").text());
                $product_amount = $("<div/>").addClass("product_amount").addClass("col-md-3").text($("#amount").val());
                $remove_button = $("<button/>").addClass("btn").addClass("btn-default").addClass("btn-md").addClass("rm_product_button").text("remove");
                $product_div.append($product_name);
                $product_div.append($product_amount);
                $product_div.append($remove_button);

                $("#products_panel").append($product_div);

            });

            $('#create_button').click(function() {
                var result = {
                    'producer': $('#producer').val(),
                    'recipient': $('#recipient').val(),
                    'production_date': $('#production_date').find('input').val(),
                    'recipients_date': $('#recipients_date').find('input').val(),
                    'products': serialize_products($('#products_div')),
                    'comment': $('#comment').val()
                }

                $.post(
                    '/events/create/',
                    JSON.stringify(result)
                ).done(function(data) {
                    alert(data);
                }).fail(function(data) {
                    $('#errors_div').html(data).show();
                })
            });

            $("body").on('click', '.rm_product_button', function() {
                $(this).parent().remove();
            });
        });
    </script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/datepicker.css" />
{% endblock %}
{% block jumbo-content %}

    <div class="row">
        <div class="col-md-5" style="display: none;" id="errors_div"></div>
    </div>
    <div class="row">
        <div class="col-md-4">producer: <input type="text" name="producer" id="producer"/></div>
        <div class="col-md-4">production date: <div id="production_date" class="input-append date" data-date="{{ date }}">
                        <input class="span2" size="16" type="text" value="{{ date }}">
                        <span class="add-on"><i class="icon icon_calendar"></i></span>
                    </div></div>
    </div>
    <div class="row">
        <div class="col-md-4">recipient: <input type="text" name="recipient" id="recipient"/></div>
        <div class="col-md-4">recipient's date: <div id="recipients_date" class="input-append date" data-date="{{ date }}">
                        <input class="span2" size="16" type="text" value="{{ date }}">
                        <span class="add-on"><i class="icon icon_calendar"></i></span>
                      </div></div>
    </div>
    <div class="row">
        <div class="col-md-4">comment: <textarea cols="50" rows="5" id="comment"></textarea></div>
    </div>

    <div class="row">
        <div class="col-md-7">
            products:
            <div id="products_div">
                <div id="products_panel" class="panel"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            product: <select id="products_list">
                {% for product in products %}
                <option value="{{ product.id }}">{{ product.name }} ({{ product.product_code }})</option>
                {% endfor %}
            </select></div>
        <div class="col-md-3">
            amount: <input type="text" id="amount"/>
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary btn-lg" id="add_product_button">add product</button>
        </div>
    </div>

    <a class="btn btn-primary btn-lg" id="create_button">create</a>

{% endblock %}