<!DOCTYPE html>
{% extends "base_template.html" %}

{% block script %}
    <script>
        $(document).ready(function(){

            function make_calendar() {
                $('#dp').datepicker({format: 'dd-mm-yyyy', weekStart: 1});
                var picker = $('#dp').data('datepicker').picker;
                var month = $('#dp').data('datepicker').viewDate.getMonth()+1;
                month = month < 10 ? '0'+month : ''+month;
                var year = ''+$('#dp').data('datepicker').viewDate.getUTCFullYear();

                $('#calendar_div #calendar_table').html(picker.find('.datepicker-days .table-condensed').html());

                // - put day numbers in divs
                // - append div to contain events in it
                $.each(
                    $('#calendar_table tbody tr td'),
                    function() {
                        $(this).html('<div class="day_number">'+$(this).html()+'</div><div class="events_container"></div>');
                    });

                // set 'id' for days of currently viewed month
                $.each(
                    $('#calendar_table tbody tr td.day').not('.old, .new'),
                    function() {
                        var day_number = $(this).find('.day_number').text();
                        day_number = day_number < 10 ? '0'+day_number : ''+day_number;
                        $(this).attr('id', year+'-'+month+'-'+day_number);
                    });

                // add a column for week number in front of every row
                $.each($('#calendar_table thead tr'), function() { $(this).html('<th></th>'+$(this).html());});
                $.each($('#calendar_table tbody tr'), function() { $(this).html('<td class="week_number"></td>'+$(this).html());});

                // put week numbers
                $.each($('#calendar_table tbody tr'), function() {
                    week_field = $(this).find('td').first();
                    date_str = $(this).find('.day').not('.old, .new').first().attr('id');
                    week_number = getWeekNumber(date_str)[1];
                    if(!isNaN(week_number)) {
                        week_field.text(week_number);
                    }
                });

                // create rows for displaying events for day
                $.each($('#calendar_table tbody tr'), function() {
                    $events_row = $("<tr/>", {
                                    class: "events_row",
                                    id: "row"+$(this).find('td.week_number').text()
                                });
                    $td_week = $("<td/>");
                    $td_events_details = $("<td/>", {class: "events_details", colSpan: 7});

                    // ---- panel sub-elements
                    $div_panel = $("<div/>", {class: "panel"});
                    $div_base_row = $("<div/>", {class: "row"});
                    $div_base_date = $("<div/>", {class: "col-md-2 date_span"});
                    $div_base_nav = $("<div/>", {class: "col-md-1 col-md-offset-9"});
                    $div_base_nav_add = $("<div/>", {class: "pull-right icon icon_add"});
                    $div_base_nav_cross = $("<div/>", {class: "pull-right icon icon_cross"});

                    $div_base_nav.append($div_base_nav_cross).append($div_base_nav_add);
                    $div_base_row.append($div_base_date).append($div_base_nav);
                    $div_panel.append($div_base_row);

                    $td_events_details.append($div_panel);
                    $events_row.append($td_week).append($td_events_details);
                    $(this).after($events_row);

                });
            }

            function fetch_events() {
                var year = $('#dp').data('datepicker').viewDate.getUTCFullYear();
                var month = $('#dp').data('datepicker').viewDate.getMonth()+1;
                jQuery.get(
                        '/events/'+year+'/'+month+'/',
                        function(data) {
                            events = data['events'];
                            $.each(events, function() {
                                //console.log($(this)['recipients_date']);
                                var container = $('#'+this.recipients_date+' div.events_container');
                                container.html(container.html() + '<div class="event_div" id='+this.id+'>'+this.recipient+'</div>');
                            });
                            $('.event_div').droppable({
                                drop: function( event, ui ) {
                                    event_id = $( this).attr('id');
                                    vehicle_id = ui.draggable.parent().attr('id');
                                    set_vehicle_in_event(event_id, vehicle_id);
                                }
                            });
                        },
                        'json'
                )
            }


            function fetch_vehicles() {
                jQuery.get(
                        '/vehicles/all_extended/',
                        function(data) {
                            console.log(data);
                            vehicles = data['vehicles'];
                            $.each(vehicles, function() {
                                //console.log($(this)['recipients_date']);
                                //container.html(container.html() + '<div class="event_cal_div" id='+this.id+'>'+this.recipient+'</div>');
                                $('#vehicles_list').append('<li id="'+this.id+'">'+this.registration+'<span class="badge draggable_vehicle" style="background-color: #'+this.colour+';">aaa</span></li>');
                            });
                            $('.draggable_vehicle').draggable();
                        },
                        'json'
                )
            }

            /*
               Fetches events for given date.
               @param date in format YYYY-MM-DD
             */
            function fetch_daily_events(events_date) {
                row_id = 'row'+getWeekNumber(events_date)[1];
                if($('#'+row_id).is(':visible')) {
                    $('#'+row_id).hide(200);
                }
                $('#'+row_id).find('td:nth-child(2)').find('.panel-body').remove();
                jQuery.get(
                        '/events/json/'+events_date.replace(/-/g,'/')+'/',
                        function(data) {
                            events = data['events'];
                            $('#'+row_id).find('td:nth-child(2)').find('.date_span').text(events_date);
                            $.each(events, function() {
                                $div = $table = $row = $td_locations = $td_load = $td_buttons = $div_buttons = '';

                                $div = $("<div/>", {
                                    class: "panel-body",
                                    id: "event"+this.id
                                });
                                $div_row = $("<div/>", {class: "row"});
                                //------------------------
                                $div_locations = $('<div/>', {
                                    text: this.producer+' - '+this.recipient
                                }).addClass("col-md-3");
                                //------------------------
                                $div_load = $('<div/>').addClass("col-md-3");
                                $.each(this.loads, function() {
                                    $td_load.append(this.product.name+' - '+this.amount+'<br/>');
                                });
                                //------------------------
                                $div_buttons = $('<div/>', {
                                    class: 'btn-group'
                                }).addClass("col-md-3");
                                if(this.return_event == '') {
                                    $div_buttons.append('<button class="btn btn-sm btn-default add_return_button">add return</button>');
                                }
                                event_date = new Date(events_date);
                                current_date = new Date();
                                if(event_date >= current_date) {
                                    $div_buttons.append('<button class="btn btn-sm btn-success edit_button">edit</button><button class="btn btn-sm btn-danger cancel_button">cancel</button>');
                                }
                                //------------------------
                                $div_vehicle = $('<div/>').addClass("col-md-3");
                                if(this.vehicle) {
                                    $div_vehicle.text(this.vehicle.registration+' - '+this.vehicle.colour);
                                };
                                //------------------------
                                $div_row.append($div_locations);
                                $div_row.append($div_load);
                                $div_row.append($div_vehicle);
                                $div_row.append($div_buttons);
                                $div.append($div_row);

                                $('#'+row_id).find('td.events_details .panel').append($div);
                            });
                            $('#'+row_id).show(200);
                        },
                        'json'
                )
            }

            function set_vehicle_in_event(event_id, vehicle_id) {
                $.post(
                    '/events/set_vehicle/',
                    {
                        'event_id': event_id,
                        'vehicle_id': vehicle_id
                    }
                ).done(function(data) {
                    alert(data);
                }).fail(function(data) {
                    $('#errors_div').html(data).show();
                })
            }

            $('#calendar_table').on('click', '.next', function() {
                $('#dp').data('datepicker').picker.find('.next:first').click();
                make_calendar();
                fetch_events();
                fetch_vehicles();
            });

            $('#calendar_table').on('click', '.prev', function() {
                $('#dp').data('datepicker').picker.find('.prev:first').click();
                make_calendar();
                fetch_events();
                fetch_vehicles();
            });

            $('#calendar_div').on('click','.day .day_number', function(){
                fetch_daily_events($(this).parent().attr('id'));
            });

            $('#calendar_div').on('mouseover', '.day_number', function() {
                $(this).addClass('selected');
            });

            $('#calendar_div').on('mouseout', '.day_number', function() {
                $(this).removeClass('selected');
            });

            $('#calendar_table').on('click', 'div.icon_cross', function() {
                parent_elem = $(this).parents(".events_row");
                parent_elem.hide(200);
            })

            $('#calendar_table').on('click', 'div.icon_add', function() {
                date_val = $(this).parent().find('.date_span').text();
                $("#date_field").val(date_val);
                $('#event_create_form').submit();
            })

            $('#calendar_table').on('click', '.add_return_button', function() {
                $parent = $(this).parents("div[id^=event]");
                $event_id = $parent.attr('id').replace("event","");
                window.location.replace("/events/create_return/?event_id="+$event_id);
            })

            make_calendar();
            fetch_events();
            fetch_vehicles();

        });
    </script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/calendar_large.css" />
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12" id="calendar_div">
            <table id="calendar_table">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>

    </div>
    <div style="display: none;" id="dp" data-date="{% now dd-m-YY %}"></div>
    <form action="/events/create/" method="GET" id="event_create_form">
        <input type="hidden" id="date_field" name="date"/>
    </form>
{% endblock %}