<!DOCTYPE html>
{% extends "base_template.html" %}

{% block script %}
    <script>

        var animation_speed = 200;

        $.extend($.fn.datepicker.defaults, {
            onRender: function(date) {
                if(date.getDay() == 6 || date.getDay() == 0) {
                    return 'holiday';
                }
                if(date.getMonth()+1 == 1 && date.getDate() == 1) {
                    return 'holiday';
                }
                if(date.getMonth()+1 == 1 && date.getDate() == 6) {
                    return 'holiday';
                }
                if(date.getMonth()+1 == 5 && date.getDate() == 1) {
                    return 'holiday';
                }
                if(date.getMonth()+1 == 5 && date.getDate() == 3) {
                    return 'holiday';
                }
                if(date.getMonth()+1 == 5 && date.getDate() == 19) {
                    return 'holiday';
                }
                if(date.getMonth()+1 == 8 && date.getDate() == 15) {
                    return 'holiday';
                }
                if(date.getMonth()+1 == 11 && date.getDate() == 1) {
                    return 'holiday';
                }
                if(date.getMonth()+1 == 11 && date.getDate() == 11) {
                    return 'holiday';
                }
                if(date.getMonth()+1 == 12 && date.getDate() == 25) {
                    return 'holiday';
                }
                if(date.getMonth()+1 == 12 && date.getDate() == 26) {
                    return 'holiday';
                }
                return '';
            }
        });

        $(document).ready(function(){

            function make_calendar() {
                $("#dp").datepicker({format: "dd-mm-yyyy", weekStart: 1});
                var picker = $("#dp").data("datepicker").picker;
                var month = $("#dp").data("datepicker").viewDate.getMonth()+1;
                month = month < 10 ? "0"+month : ""+month;
                var year = ""+$("#dp").data("datepicker").viewDate.getUTCFullYear();

                $("#calendar_table").html(picker.find(".datepicker-days .table-condensed").html());

                $("#calendar_table thead tr th.prev").before("<th colspan=2><button class='btn btn-sm btn-default' id='today_button'>today</button></th>");
                $("#calendar_table thead tr th.prev").empty().append($("<div/>", {class: "icon icon_left"}));
                $("#calendar_table thead tr th.switch").attr("colspan", 2);
                $("#calendar_table thead tr th.next").empty().append($("<div/>", {class: "icon icon_right"}));


                // - put day numbers in divs
                // - append div to contain events in it
                $.each(
                    $('#calendar_table tbody tr td'),
                    function() {
                        $(this).html('<div class="day_number">'+$(this).html()+'</div><div class="events_container"></div>');
                    });

                // set 'id' for days of currently viewed month
                $.each(
                    $('#calendar_table tbody tr td.day').not('.old, .new'),
                    function() {
                        var day_number = $(this).find('.day_number').text();
                        day_number = day_number < 10 ? '0'+day_number : ''+day_number;
                        $(this).attr('id', year+'-'+month+'-'+day_number);
                    });

                // add a column for week number in front of every row
                $.each($('#calendar_table thead tr'), function() { $(this).html('<th></th>'+$(this).html());});
                $.each($('#calendar_table tbody tr'), function() { $(this).html('<td class="week_number"></td>'+$(this).html());});

                // put week numbers
                $.each($('#calendar_table tbody tr'), function() {
                    week_field = $(this).find('td').first();
                    date_str = $(this).find('.day').not('.old, .new').first().attr('id');
                    week_number = getWeekNumber(date_str)[1];
                    if(!isNaN(week_number)) {
                        week_field.text(week_number);
                    }
                });

                // create rows for displaying events for day
                $.each($('#calendar_table tbody tr'), function() {
                    $events_row = $("<tr/>", {
                                    class: "events_row",
                                    id: "row"+$(this).find('td.week_number').text()
                                });
                    $td_week = $("<td/>");
                    $td_events_details = $("<td/>", {class: "events_details", colSpan: 7});

                    // ---- panel sub-elements
                    $div_panel = $("<div/>", {class: "panel"});
                    $div_base_row = $("<div/>", {class: "row"});
                    $div_base_date = $("<div/>", {class: "col-md-2 date_span"});
                    $div_base_nav = $("<div/>", {class: "col-md-1 col-md-offset-9"});
                    $div_base_nav_add = $("<div/>", {class: "pull-right icon icon_add"});
                    $div_base_nav_cross = $("<div/>", {class: "pull-right icon icon_cross"});

                    $div_base_nav.append($div_base_nav_cross).append($div_base_nav_add);
                    $div_base_row.append($div_base_date).append($div_base_nav);
                    $div_panel.append($div_base_row);

                    $td_events_details.append($div_panel);
                    $events_row.append($td_week).append($td_events_details);
                    $(this).after($events_row);

                });
            }

            function fetch_events() {
                var year = $('#dp').data('datepicker').viewDate.getUTCFullYear();
                var month = $('#dp').data('datepicker').viewDate.getMonth()+1;
                jQuery.get(
                        '/events/'+year+'/'+month+'/',
                        function(data) {
                            events = data['events'];
                            $.each(events, function() {
                                create_event_div(this);
                                create_return_event_div(this);
                            });
                            $('.event_div').droppable({
                                drop: function( event, ui ) {
                                    event_id = $( this).attr('id');
                                    vehicle_id = ui.draggable.parent().attr('id').replace("vehicle", "");
                                    set_vehicle_in_event(event_id, vehicle_id);
                                }
                            });
                        },
                        'json'
                )
            }

            function create_event_div(event) {
                var container = $('#'+event.recipients_date+' div.events_container');
                $div_event = $("<div/>", {class: "event_div", id: event.id});
                $div_label = $("<div/>", {class: "pull-left", text: event.recipient});
                $div_vehicle = $("<div/>", {class: "pull-right"});
                if(event.vehicle) {
                    $div_vehicle.text(event.vehicle.id);
                }

                /*
                var text = event.recipient + " [";
                $.each(event.loads, function() {
                    text = text + this.product.name+",";
                });
                text = text + "]";
                $div_label.text(text);
                */

                $div_event.append($div_label).append($div_vehicle);
                container.append($div_event);
            }

            function create_return_event_div(event) {
                if(event.return_event!='') {
                    revent = event.return_event
                    var container = $('#'+revent.return_date+' div.events_container');
                    $div_event = $("<div/>", {class: "event_div return_event_div", id: "return"+revent.id});
                    $div_label = $("<div/>", {class: "pull-left", text: event.recipient});
                    $div_vehicle = $("<div/>", {class: "pull-right"});
                    if(event.vehicle) {
                        $div_vehicle.text(revent.vehicle.id);
                    }

                    $div_event.append($div_label).append($div_vehicle);
                    container.append($div_event);
                }
            }

            /**
             * Fetches list of vehicles and creates a dropdown list
             */
            function fetch_vehicles() {
                jQuery.get(
                        '/vehicles/all_extended/',
                        function(data) {
                            console.log(data);
                            vehicles = data['vehicles'];
                            $.each(vehicles, function() {
                                $('#vehicles_list').append('<li id="vehicle'+this.id+'">'+this.registration+'<span class="badge draggable_vehicle" style="background-color: #'+this.colour+';">aaa</span></li>');
                            });
                            $('.draggable_vehicle').draggable({revert: true});
                        },
                        'json'
                )
            }

            /*
               Fetches events for given date.
               @param date string in format YYYY-MM-DD
             */
            function fetch_daily_events(events_date) {
                row_id = 'row'+getWeekNumber(events_date)[1];
                $(".events_row").hide(animation_speed);
                $('#'+row_id).find('td:nth-child(2)').find('.panel-body').remove();
                jQuery.get(
                        '/events/json/'+events_date.replace(/-/g,'/')+'/',
                        function(data) {
                            events = data['events'];
                            $('#'+row_id).find('td:nth-child(2)').find('.date_span').text(events_date);
                            $.each(events, function() {
                                $div = $table = $row = $td_locations = $td_load = $td_buttons = $div_buttons = '';

                                $div = $("<div/>", {
                                    class: "panel-body",
                                    id: "event"+this.id
                                }).css("background-color", "#F8F8F8");
                                $div_row = $("<div/>", {class: "row"}).css("borderTop", "1px solid #dddddd");
                                //------------------------
                                $div_locations = $('<div/>', {
                                    text: this.producer+' - '+this.recipient,
                                    class: "col-md-3"
                                });
                                //------------------------
                                $div_load = $('<div/>', {class: "col-md-3"});
                                $.each(this.loads, function() {
                                    $div_load.append(this.product.name+' - '+this.amount+'<br/>');
                                });
                                //------------------------
                                $div_buttons = $('<div/>', {
                                    class: 'btn-group col-md-3'
                                });
                                if(this.return_event == '') {
                                    $div_buttons.append('<button class="btn btn-sm btn-default add_return_button">add return</button>');
                                }
                                event_date = new Date(events_date);
                                current_date = new Date();
                                if(event_date >= current_date) {
                                    $div_buttons.append('<button class="btn btn-sm btn-success edit_event_button">edit</button><button class="btn btn-sm btn-danger cancel_button">cancel</button>');
                                }
                                //------------------------
                                $div_vehicle = $('<div/>', {class: "col-md-3"});
                                if(this.vehicle) {
                                    $div_registration = $("<div/>", {class: "col-md-6", text: this.vehicle.registration});
                                    $div_icon = $("<div/>", {class: "col-md-3", text: "_"}).css("background-color", "#"+this.vehicle_colour);
                                    //$div_vehicle.text(this.vehicle.registration+' - '+this.vehicle.colour);
                                    $div_vehicle.append($div_registration).append($div_icon);
                                };
                                //------------------------
                                $div_row.append($div_locations);
                                $div_row.append($div_load);
                                $div_row.append($div_vehicle);
                                $div_row.append($div_buttons);
                                $div.append($div_row);

                                $('#'+row_id).find('td.events_details .panel').append($div);
                            });
                            $('#'+row_id).show(animation_speed);
                        },
                        'json'
                )
            }

            /*
               Fetches return events for given date.
               @param date string in format YYYY-MM-DD
             */
            function fetch_daily_return_events(events_date) {
                row_id = 'row'+getWeekNumber(events_date)[1];
                $(".events_row").hide(animation_speed);
                $('#'+row_id).find('td:nth-child(2)').find('.panel-body').remove();
                jQuery.get(
                        '/events/return/json/'+events_date.replace(/-/g,'/')+'/',
                        function(data) {
                            events = data['return_events'];
                            $('#'+row_id).find('td:nth-child(2)').find('.date_span').text(events_date);
                            $.each(events, function() {

                                $div = $("<div/>", {
                                    class: "panel-body",
                                    id: "return_event"+this.id
                                }).css("background-color", "#ffe8e8");
                                $div_row = $("<div/>", {class: "row"});
                                //------------------------
                                $div_locations = $('<div/>', {
                                //    text: this.producer+' - '+this.recipient,
                                    class: "col-md-3"
                                });
                                $.each(this.transports, function() {
                                    $div_locations.append(this.start_location+' - '+this.end_location+'<br/>');
                                });
                                //------------------------
                                $div_load = $('<div/>', {class: "col-md-3"});
                                //$.each(this.loads, function() {
                                //    $div_load.append(this.product.name+' - '+this.amount+'<br/>');
                                //});
                                //------------------------
                                $div_buttons = $('<div/>', {
                                    class: 'btn-group col-md-3'
                                });
                                //if(this.return_event == '') {
                                //    $div_buttons.append('<button class="btn btn-sm btn-default add_return_button">add return</button>');
                                //}
                                event_date = new Date(events_date);
                                current_date = new Date();
                                if(event_date >= current_date) {
                                    $div_buttons.append('<button class="btn btn-sm btn-success edit_return_event_button">edit</button><button class="btn btn-sm btn-danger cancel_button">cancel</button>');
                                }
                                //------------------------
                                $div_vehicle = $('<div/>', {class: "col-md-3"});
                                if(this.vehicle) {
                                    $div_vehicle.text(this.vehicle.registration+' - '+this.vehicle.colour);
                                };
                                //------------------------
                                $div_row.append($div_locations);
                                $div_row.append($div_load);
                                $div_row.append($div_vehicle);
                                $div_row.append($div_buttons);
                                $div.append($div_row);

                                $('#'+row_id).find('td.events_details .panel').append($div);
                            });
                            $('#'+row_id).show(animation_speed);
                        },
                        'json'
                )
            }

            /**
             * Assigns vehicle to chosen event and it's return event
             * @param event_id
             * @param vehicle_id
             */
            function set_vehicle_in_event(event_id, vehicle_id) {
                $.post(
                    '/events/set_vehicle/',
                    {
                        'event_id': event_id,
                        'vehicle_id': vehicle_id
                    }
                ).done(function(data) {
                    alert(data);
                    make_calendar();
                    fetch_events();
                }).fail(function(data) {
                    $('#errors_div').html(data).show();
                })
            }

            $('#calendar_table').on('click', '.next', function() {
                $('#dp').data('datepicker').picker.find('.next:first').click();
                make_calendar();
                fetch_events();
                fetch_vehicles();
            });

            $('#calendar_table').on('click', '.prev', function() {
                $('#dp').data('datepicker').picker.find('.prev:first').click();
                make_calendar();
                fetch_events();
                fetch_vehicles();
            });

            $('#calendar_div').on('click','.day .day_number', function(){
                fetch_daily_events($(this).parent().attr('id'));
                fetch_daily_return_events($(this).parent().attr('id'));
            });

            $('#calendar_div').on('mouseover', '.day_number', function() {
                $(this).addClass('selected');
            });

            $('#calendar_div').on('mouseout', '.day_number', function() {
                $(this).removeClass('selected');
            });

            $('#calendar_table').on('click', 'div.icon_cross', function() {
                parent_elem = $(this).parents(".events_row");
                parent_elem.hide(animation_speed);
            })

            $('#calendar_table').on('click', 'div.icon_add', function() {
                date_val = $(this).parents(".row").find('.date_span').text();
                $("#date_field").val(date_val);
                $('#event_create_form').submit();
            })

            $('#calendar_table').on('click', '.add_return_button', function() {
                $parent = $(this).parents("div[id^=event]");
                $event_id = $parent.attr('id').replace("event","");
                window.location.replace("/events/create_return/?event_id="+$event_id);
            })

            $('#calendar_table').on('click', '.edit_event_button', function() {
                $parent = $(this).parents("div[id^=event]");
                $event_id = $parent.attr('id').replace("event","");
                window.location.replace("/events/edit/"+$event_id);
            })

            $('#calendar_table').on('click', '.edit_return_event_button', function() {
                $parent = $(this).parents("div[id^=return_event]");
                $event_id = $parent.attr('id').replace("return_event","");
                window.location.replace("/events/edit_return/"+$event_id);
            })

            $('#calendar_table').on('mouseover', '.event_div', function() {
                event_id = $(this).attr("id");
                connected_id = event_id.indexOf("return") == 0 ? event_id.replace("return", "") : "return"+event_id;
                $("#"+event_id).css("border-width", "4px");
                $("#"+connected_id).css("border-width", "4px");
            })

            $('#calendar_table').on('mouseout', '.event_div', function() {
                event_id = $(this).attr("id");
                connected_id = event_id.indexOf("return") == 0 ? event_id.replace("return", "") : "return"+event_id;
                $("#"+event_id).css("border-width", "2px");
                $("#"+connected_id).css("border-width", "2px");
            })

            $('#calendar_table').on('click', '#today_button', function() {
                alert('today!');
            })

            make_calendar();
            fetch_events();
            fetch_vehicles();

        });
    </script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/calendar_large.css" />
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12" id="calendar_div">
            <table id="calendar_table">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>

    </div>
    <div style="display: none;" id="dp" data-date="{% now dd-m-YY %}"></div>
    <form action="/events/create/" method="GET" id="event_create_form">
        <input type="hidden" id="date_field" name="date"/>
    </form>
{% endblock %}