<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Marek Mackiewicz">

    <title>Polwood organizer</title>

    <script type="text/javascript" src="/static/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  </head>

  <body>
    <div class="container">
        <div class="panel auth_container">
        <form action="/login/" method="post">
            {% csrf_token %}
            <div class="row panel-body">
              <div class="col-md-4 col-md-offset-1">
                  <label for="username">username</label>
              </div>
              <div class="col-md-5">
                  <input type="text" name="username" class="form-control" id="username" placeholder="Username">
              </div>
            </div>
            <div class="row panel-body">
                <div class="col-md-4 col-md-offset-1">
                  <label for="password">password</label>
                </div>
                <div class="col-md-5">
                  <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                </div>
            </div>
            {% if state %}
            <div class="row panel-body">
                <div class="alert alert-warning col-md-8 col-md-offset-2">
                    {{ state }}
                </div>
            </div>
            {% endif %}
            <div class="row panel-body">
                <div class="col-md-3 col-md-offset-7">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        </div>
    </div>
  </body>
</html>