<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Marek Mackiewicz">

    <title>Polwood organizer</title>

    <script type="text/javascript" src="/static/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  </head>

  <body>
    <div class="container">
        <div class="panel auth_container">
            <div class="row panel-body">
              <div class="col-md-8 col-md-offset-2 alert alert-info">
                  User logged out
              </div>
            </div>
            <div class="row panel-body" style="font-weight: bold;">
              <div class="col-md-8 col-md-offset-2">
                  <a href="/login/">log in again</a>
              </div>
            </div>
        </div>
    </div>
  </body>
</html>
