<!DOCTYPE html>
{% extends "common_template.html" %}

{% block script %}
    <script>
        $(document).ready(function(){
            $('body').on('click', '.product_edit_button', function() {
                window.location.replace($(this).attr('action'));
            });

            $('body').on('click', '.add_product_button', function() {
                window.location.replace('/products/create/');
            });
        });
    </script>
{% endblock %}

{% block jumbo-content %}
    <div class="row">
        <div class="col-md-2 col-md-offset-10">
            <button class="btn btn-primary add_product_button">add product</button>
        </div>
    </div>
    <table class="table">
    <thead>
        <tr>
            <th>product code</th>
            <th>name</th>
            <th></th>
        </tr>
    </thead>
    {% for product in products %}
        <tr>
            <td>{{ product.product_code }}</td>
            <td>{{ product.name }}</td>
            <td>
                <button type="button" class="btn btn-primary product_edit_button" action="{{ product.get_absolute_url }}">edit</button>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}