<!DOCTYPE html>
{% extends "common_template.html" %}

{% block script %}
    <script>
        $(document).ready(function(){
            $('body').on('click', '.product_edit_button', function() {
                window.location.replace($(this).attr('action'));
            });

            $('body').on('click', '.add_product_button', function() {
                window.location.replace('/products/create/');
            });
        });
    </script>
{% endblock %}

{% block jumbo-content %}
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            name
        </div>
        <div class="col-md-2 col-md-offset-3">
            <button class="btn btn-primary add_product_button">add product</button>
        </div>
    </div>
    <div class="row">
    {% for product in products %}
        <div class="col-md-3 col-md-offset-1">
            {{ product.name }}
        </div>
        <div class="col-md-3 col-md-offset-3">
            <button type="button" class="btn btn-primary btn-sm product_edit_button" action="{{ product.get_absolute_url }}">edit</button>
        </div>
    {% endfor %}
    </div>
{% endblock %}