<!DOCTYPE html>
{% extends "common_template.html" %}

{% block script %}
    <script>
        $(document).ready(function() {
            $("#save_button").click(function() {
                if(!validate_product()) {
                    showErrorsModal();
                    return;
                }
                $("#product_form").submit();
            });

            $("#cancel_button").click(function() {
                window.location.href = "/products/all/";
            });

            function validate_product() {
                valid = true;

                if($('input[name=name]').val().trim() == '') {
                    createErrorMessage('Product name empty. Please enter valid product name.');
                    valid = false;
                }

                return valid;
            }
        });
    </script>
{% endblock %}

{% block jumbo-header %}
    {% if product %}
        EDIT PRODUCT
    {% else %}
        CREATE PRODUCT
    {% endif %}
{% endblock %}

{% block jumbo-content %}
    {% if product %}
    <form action="/products/update/{{ product.id }}/" method="POST" id="product_form">
    {% else %}
    <form action="/products/create/" method="POST" id="product_form">
    {% endif %}
        {% csrf_token %}
        <div class="row">
            <div class="col-md-2">name:</div>
            <div class="col-md-3 col-md-offset-1"><input type="text" name="name" value="{{ product.name }}"/></div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-2">
            {% if product %}
            <input class="btn btn-primary" type="submit" value="save" id="save_button"/>
            {% else %}
            <input class="btn btn-primary" type="submit" value="create" id="save_button"/>
            {% endif %}
        </div>
        <div class="col-md-2">
            <button class="btn btn-warning" id="cancel_button">cancel</button>
        </div>
    </div>
{% endblock %}