<!DOCTYPE html>
{% extends "common_template.html" %}

{% block script %}
    <script type="text/javascript" src="/static/return_events.js"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/datepicker.css" />
{% endblock %}

{% block jumbo-content %}

    <div class="row h3" style="margin-bottom: 35px;">
        <div class="col-md-8">
        CREATE RETURN EVENT
        </div>
    </div>
    <div class="row">
        <input type="hidden" id="event_id" value="{{ event.id }}"/>
        {% if event.vehicle %}
            <div class="col-md-4">
                <div class="col-md-5">vehicle: </div>
                <div class="col-md-6">{{ event.vehicle.registration }} <span style="background-color: #{{ event.vehicle.colour }}; width: 30px;">&nbsp</span></div>
            </div>
            <input type="hidden" id="vehicle_id" value="{{ event.vehicle.id }}"/>
        {% else %}
            <div class="col-md-4">
                <div class="col-md-5">vehicle: </div>
                <div class="col-md-6">no vehicle</div>
            </div>
            <input type="hidden" id="vehicle_id" value=""/>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="col-md-4">return date:</div>
            <div class="col-md-6">
                <div id="return_date" class="input-append date" data-date="{{ event.recipients_date }}">
                    <input class="span2" size="16" type="text" value="{{ event.recipients_date }}">
                    <span class="add-on"><i class="icon icon_calendar"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="col-md-5">comment:</div>
            <div class="col-md-6"><textarea cols="50" rows="5" id="comment"></textarea></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div id="transports_div">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-8"><button class="btn btn-primary btn-lg" id="add_transport_button">add transport</button></div>
    </div>
    <div class="row">
        <div class="col-md-1 col-md-offset-1"><button class="btn btn-primary btn-lg" id="create_button">create</button></div>
        <div class="col-md-2"><button class="btn btn-warning btn-lg" id="cancel_button">cancel</button></div>
    </div>

{% endblock %}