<!DOCTYPE html>
{% extends "common_template.html" %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/jquery.colourPicker.css" />
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function(){
            jQuery('#vehicle-colour-picker select').colourPicker({
                ico: '/static/jquery.colourPicker.gif',
                title: false
            });

            {% if vehicle %}
            $('input[name=registration]').val('{{ vehicle.registration }}');
            $('#vehicle-colour-picker').val('{{ vehicle.colour }}');
            $('#vehicle-colour-picker p label input').val('{{ vehicle.colour }}')
                    .css('background-color', '#{{ vehicle.colour }}')
                    .css('color', '#{{ vehicle.colour }}');
            {% endif %}

            $("#cancel_button").click(function() {
                window.location.href = "/vehicles/all/";
            });

            $("#submit_button").click(function() {
                if(!validate_vehicle()) {
                    showErrorsModal();
                    return;
                }

                {% if vehicle %}
                    validate_vehicle_update();
                {% else %}
                    validate_vehicle_create();
                {% endif %}
            });

            // "hack": clicking on color picker icon to populate the colors list
            $('#vehicle-colour-picker img').click();
            $('#jquery-colour-picker').hide();

            {% if vehicle %}
            $('#jquery-colour-picker').find('a[rel={{ vehicle.colour }}]').click();
            {% else %}
            $('#jquery-colour-picker').find('a').get(0).click();
            {% endif %}

            function validate_vehicle() {
                valid = true;

                if($('input[name=registration]').val().trim() == "") {
                    createErrorMessage("Registration number empty. Please insert valid registration number.");
                    valid = false;
                }

                return valid;
            }

            function validate_vehicle_create() {
                blockUX();
                $.post(
                    '/vehicles/create/validate/',
                    {
                        'registration': $('input[name=registration]').val(),
                        'colour': $('input[name=colour]').val()
                    }
                ).done(function(data) {
                    if(data.status) {
                        if(data.status == 'OK') {
                            submit_form();
                        }
                        else {
                            $.each(data.errors, function() {
                                createErrorMessage(this);
                            })
                            showErrorsModal()
                            $("#busy_modal").modal("hide");
                        }
                    }
                }).fail(function(data) {
                    createErrorMessage('status: '+data.status+', statusTEXT: '+data.statusText);
                    showErrorsModal();
                    $("#busy_modal").modal("hide");
                });
            }

            function validate_vehicle_update() {
                blockUX();
                $.post(
                    '/vehicles/update/validate/{{ vehicle.id }}/',
                    {
                        'registration': $('input[name=registration]').val(),
                        'colour': $('input[name=colour]').val()
                    }
                ).done(function(data) {
                    if(data.status) {
                        if(data.status == 'OK') {
                            submit_form();
                        }
                        else {
                            $.each(data.errors, function() {
                                createErrorMessage(this);
                            });
                            showErrorsModal();
                        }
                    }
                    $("#busy_modal").modal("hide");
                }).fail(function(data) {
                    createErrorMessage('status: '+data.status+', statusTEXT: '+data.statusText);
                    showErrorsModal();
                    $("#busy_modal").modal("hide");
                });

            }

            function submit_form() {
                $("#vehicle_form").submit();
            }

        });

    </script>
{% endblock %}

{% block jumbo-header %}
    {% if vehicle %}
        EDIT VEHICLE
    {% else %}
        CREATE VEHICLE
    {% endif %}
{% endblock %}

{% block jumbo-content %}
    {% if vehicle %}
        <form action="/vehicles/update/{{ vehicle.id }}/" method="POST" id="vehicle_form">
    {% else %}
        <form action="/vehicles/create/" method="POST" id="vehicle_form">
    {% endif %}
    {% csrf_token %}
    <div class="row">
        <div class="col-md-2">registration:</div>
        <div class="col-md-2 col-md-offset-1">
          <input type="text" name="registration"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">colour:</div>
        <div class="col-md-3 col-md-offset-1">
            <div id="vehicle-colour-picker">
                <p>
                    <select name="colour">
                        <option value="9aff99">#9aff99</option>
                        <option value="00009b">#00009b</option>
                        <option value="34ff34">#34ff34</option>
                        <option value="3166ff">#3166ff</option>
                        <option value="6200c9">#6200c9</option>
                        <option value="036400">#036400</option>
                        <option value="656565">#656565</option>
                        <option value="663234">#663234</option>
                        <option value="986536">#986536</option>
                        <option value="cd9934">#cd9934</option>
                        <option value="f8ff00">#f8ff00</option>
                        <option value="fd6864">#fd6864</option>
                        <option value="ffce93">#ffce93</option>
                    </select>
                </p>
            </div>
        </div>
    </div>
    </form>
    <div class="row">
        {% if vehicle %}
            <div class="col-md-2"><input class="btn btn-primary" type="submit" value="save" id="submit_button"/></div>
        {% else %}
            <div class="col-md-2"><input class="btn btn-primary" type="submit" value="create" id="submit_button"/></div>
        {% endif %}
        <div class="col-md-2"><button class="btn btn-warning" id="cancel_button">cancel</button></div>
    </div>

{% endblock %}