<!DOCTYPE html>
{% extends "common_template.html" %}

{% block script %}
    <script>
        $(document).ready(function(){
            $('body').on('click', '.vehicle_edit_button', function() {
                window.location.replace($(this).attr('action'));
            });

            $('body').on('click', '.add_vehicle_button', function() {
                window.location.replace('/vehicles/create/');
            });
        });
    </script>
{% endblock %}

{% block jumbo-content %}
    <div class="row h3 jumbo_header">
        <div class="col-md-8">
        VEHICLES LIST
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-10">
            <button class="btn btn-primary add_vehicle_button">add vehicle</button>
        </div>
    </div>
    <table class="table">
    <thead>
        <tr>
            <th>registration</th>
            <th>colour</th>
            <th></th>
        </tr>
    </thead>
    {% for vehicle in vehicles %}
        {% if vehicle.id != 0 %}
        <tr>
            <td>{{ vehicle.registration }}</td>
            <td><div style="background-color: #{{ vehicle.colour }}; width:60px;">&nbsp</div></td>
            <td>
                <button type="button" class="btn btn-warning vehicle_edit_button" action="{{ vehicle.get_absolute_url }}">edit</button>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
{% endblock %}