<!DOCTYPE html>
{% extends "common_template.html" %}

{% block script %}
    <script>
        $(document).ready(function() {
            $("#save_button").click(function() {
                $("#worker_form").submit();
            });

            $("#cancel_button").click(function() {
                window.location.href = "/workers/all/";
            });
        });
    </script>
{% endblock %}

{% block jumbo-content %}
    <div class="row h3 jumbo_header">
        <div class="col-md-8">
        CREATE WORKER
        </div>
    </div>
    <form action="/workers/create/" method="POST" id="worker_form">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3">username:</div>
            <div class="col-md-5"><input type="text" name="username"/></div>
        </div>
        <div class="row">
            <div class="col-md-3">password:</div>
            <div class="col-md-5"><input type="password" name="password"/></div>
        </div>
        <div class="row">
            <div class="col-md-3">role:</div>
            <div class="col-md-5">
                <select name="role">
                    {% for role_value, role_name in roles %}
                        <option value="{{ role_value }}">{{ role_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-2"><button class="btn btn-primary" id="save_button">save</button></div>
        <div class="col-md-2"><button class="btn btn-warning" id="cancel_button">cancel</button></div>
    </div>
{% endblock %}