<!DOCTYPE html>
{% extends "common_template.html" %}

{% block jumbo-content %}
    <form action="/workers/create/" method="POST">
        {% csrf_token %}
        <!--
        first_name: <input type="text" name="first_name"/>
        last_name: <input type="text" name="last_name"/>
        username: <input type="text" name="username"/>
        password: <input type="password" name="password"/>
        role: <select name="role">
                <option value="D">kierowca</option>
                <option value="DI">dyspozytor</option>
                <option value="A">administrator</option>
              </select>
        pesel: <input type="text" name="pesel"/>
        email: <input type="text" name="email"/>
        <input type="submit" name="OK"/>
        -->
        {{ form.as_p }}
        <input type="submit" name="OK"/>
    </form>
{% endblock %}