<!DOCTYPE html>
{% extends "common_template.html" %}

{% block script %}

    <script>
        $(document).ready(function() {
            $("#save_button").click(function() {
                if(!validate_user()) {
                    showErrorsModal();
                    return;
                }
                validate_worker_update();
            });

            $("#cancel_button").click(function() {
                window.location.href = "/workers/all/";
            });

            function validate_user() {
                valid = true;
                var usernameRegex = /^[a-zA-Z0-9]{5,15}$/;
                username = $('input[name=username]').val().trim();
                if(username == "" || !usernameRegex.test(username)) {
                    createErrorMessage("Invalid username value. Username must be 5-15 characters long and consist of letters or/and numbers.");
                    valid = false;
                }
                password = $('input[name=new_password1]').val();
                password2 = $('input[name=new_password2]').val();
                if(password || password2) {
                    if(!validate_password(password)) {
                        valid = false;
                    } else if(password != password2) {
                            createErrorMessage("Password and repeated password are different");
                            valid = false;
                    }
                }

                return valid;
            }

            function validate_worker_update() {
                $.post(
                    '/workers/update/validate/{{ user_entity.id }}/',
                    {
                        'username': $('input[name=username]').val(),
                        'password': $('input[name=new_password1]').val(),
                        'role': $('input[name=role]').val()
                    }
                ).done(function(data) {
                    if(data.status) {
                        if(data.status == 'OK') {
                            submit_form();
                        }
                        else {
                            $.each(data.errors, function() {
                                createErrorMessage(this);
                            })
                            showErrorsModal()
                        }
                    }
                }).fail(function(data) {
                    createErrorMessage('status: '+data.status+', statusTEXT: '+data.statusText);
                    showErrorsModal();
                })
            }

            function submit_form() {
                $("#worker_form").submit();
            }
        });
    </script>
{% endblock %}

{% block jumbo-content %}
    <div class="row h3" style="margin-bottom: 35px;">
        <div class="col-md-8">
        EDIT WORKER
        </div>
    </div>
    <form action="/workers/update/{{ user_entity.id }}/" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3">username:</div>
            <div class="col-md-5"><input type="text" name="username" value="{{ user_entity.username }}"/></div>
        </div>
        <div class="row">
            <div class="col-md-3">new password:</div>
            <div class="col-md-5"><input type="password" name="new_password1"/></div>
        </div>
        <div class="row">
            <div class="col-md-3">repeat new password:</div>
            <div class="col-md-5"><input type="password" name="new_password2"/></div>
        </div>
        <div class="row">
            <div class="col-md-3">role:</div>
            <div class="col-md-5">
                <select name="role">
                    {% for role_value, role_name in roles %}
                        {% if role_value == worker.role %}
                            <option value="{{ role_value }}" selected=true>{{ role_name }}</option>
                        {% else %}
                            <option value="{{ role_value }}">{{ role_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-2"><button class="btn btn-primary" id="save_button">save</button></div>
        <div class="col-md-2"><button class="btn btn-warning" id="cancel_button">cancel</button></div>
    </div>
{% endblock %}