<!DOCTYPE html>
{% extends "common_template.html" %}

{% block script %}
    <script>
        $(document).ready(function(){
            $('body').on('click', '.worker_delete_button', function() {
                var id = $(this).attr('id').replace('worker_delete_', '');
                var that = $(this);
                $.post(
                    '/workers/delete/'+id+'/',
                    {},
                    function(response) {
                        if('status' in response && response.status == 'OK') {
                            $(that).closest('tr').remove();
                        }
                    },
                    'json'
                );
            });

            $('body').on('click', '.worker_edit_button', function() {
                window.location.replace($(this).attr('action'));
            });

            $('body').on('click', '.add_worker_button', function() {
                window.location.replace('/workers/create/');
            });
        });
    </script>
{% endblock %}

{% block jumbo-content %}
    <div class="row h3" style="margin-bottom: 35px;">
        <div class="col-md-8">
        WORKERS LIST
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-10">
            <button class="btn btn-primary add_worker_button">add worker</button>
        </div>
    </div>
    <table class="table">
    <thead>
        <tr>
            <th>username</th>
            <th>role</th>
            <th>action</th>
        </tr>
    </thead>
    {% for worker in workers %}
        <tr>
            <td>{{ worker.user.username }}</td>
            <td>{{ worker.role }}</td>
            <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-warning worker_edit_button" action="{{ worker.get_absolute_url }}">edit</button>
                  <button type="button" class="btn btn-danger worker_delete_button" id="worker_delete_{{ worker.id }}">delete</button>
                </div>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}