<!DOCTYPE html>
{% extends "common_template.html" %}

{% block script %}
    <script>
        $(document).ready(function() {
            $("#save_button").click(function() {
                if(!validate_user()) {
                    showErrorsModal();
                    return;
                }
                validate_worker_create();
            });

            $("#cancel_button").click(function() {
                window.location.href = "/workers/all/";
            });

            function validate_user() {
                valid = true;
                var usernameRegex = /^[a-zA-Z0-9]{5,15}$/;
                username = $('input[name=username]').val().trim();
                if(username == "" || !usernameRegex.test(username)) {
                    createErrorMessage("Invalid username value. Username must be 5-15 characters long and consist of letters or/and numbers.");
                    valid = false;
                }
                password = $('input[name=password]').val().trim();
                password2 = $('input[name=password2]').val().trim();
                if(!validate_password(password)) {
                    valid = false;
                } else if(password != password2) {
                        createErrorMessage("Password and repeated password are different");
                        valid = false;
                }

                return valid;
            }

            function validate_worker_create() {
                $.post(
                    '/workers/create/validate/',
                    {
                        'username': $('input[name=username]').val(),
                        'password': $('input[name=password]').val(),
                        'role': $('input[name=role]').val()
                    }
                ).done(function(data) {
                    if(data.status) {
                        if(data.status == 'OK') {
                            submit_form();
                        }
                        else {
                            $.each(data.errors, function() {
                                createErrorMessage(this);
                            })
                            showErrorsModal()
                        }
                    }
                }).fail(function(data) {
                    createErrorMessage('status: '+data.status+', statusTEXT: '+data.statusText);
                    showErrorsModal();
                })
            }

            function submit_form() {
                $("#worker_form").submit();
            }

        });
    </script>
{% endblock %}

{% block jumbo-header %}
    CREATE WORKER
{% endblock %}

{% block jumbo-content %}
    <form action="/workers/create/" method="POST" id="worker_form">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3">username:</div>
            <div class="col-md-5"><input type="text" name="username"/></div>
        </div>
        <div class="row">
            <div class="col-md-3">password:</div>
            <div class="col-md-5"><input type="password" name="password"/></div>
        </div>
        <div class="row">
            <div class="col-md-3">password2:</div>
            <div class="col-md-5"><input type="password" name="password2"/></div>
        </div>
        <div class="row">
            <div class="col-md-3">role:</div>
            <div class="col-md-5">
                <select name="role">
                    {% for role_value, role_name in roles %}
                        <option value="{{ role_value }}">{{ role_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-2"><button class="btn btn-primary" id="save_button">save</button></div>
        <div class="col-md-2"><button class="btn btn-warning" id="cancel_button">cancel</button></div>
    </div>
{% endblock %}