<!DOCTYPE html>
{% extends "common_template.html" %}

{% block script %}
    <script>
        $(document).ready(function() {
            $("#save_button").click(function() {
                $("#worker_form").submit();
            });

            $("#cancel_button").click(function() {
                window.location.href = "/workers/all/";
            });
        });
    </script>
{% endblock %}

{% block jumbo-content %}
    <div class="row h3 jumbo_header">
        <div class="col-md-8">
        EDIT WORKER
        </div>
    </div>
    <form action="/workers/update/{{ user_entity.id }}/" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3">username:</div>
            <div class="col-md-5"><input type="text" name="username" value="{{ user_entity.username }}"/></div>
        </div>
        <div class="row">
            <div class="col-md-3">new password:</div>
            <div class="col-md-5"><input type="password" name="new_password1"/></div>
        </div>
        <div class="row">
            <div class="col-md-3">repeat new password:</div>
            <div class="col-md-5"><input type="password" name="new_password2"/></div>
        </div>
        <div class="row">
            <div class="col-md-3">role:</div>
            <div class="col-md-5">
                <select name="role">
                    {% for role_value, role_name in roles %}
                        {% if role_value == worker.role %}
                            <option value="{{ role_value }}" selected=true>{{ role_name }}</option>
                        {% else %}
                            <option value="{{ role_value }}">{{ role_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-2"><button class="btn btn-primary" id="save_button">save</button></div>
        <div class="col-md-2"><button class="btn btn-warning" id="cancel_button">cancel</button></div>
    </div>
{% endblock %}