table {
    width: 100%;
    vertical-align: center;
    padding: 1px;
}

.container {
    min-width: 1000px;
    max-width: 1200px;
}

.day {
    border-width: 1px;
    border-color: #DDDDDD;
    border-style: solid;
    height: 70px;
    min-width: 100px;
}

.day_number {
    float: left;
    color: white;
    background-color: blue;
    height: 100%;
    width: 22px;
    text-align: center;
    font-size: 13px;
    border-radius: 0px 0px 4px 0px;
    cursor: auto;
}

.week_number {
    width: 60px;
    font-weight: bold;
    color: grey;
    text-align: center;
}

.selected {
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
}

td.old div.day_number {
    background-color: grey;
}

td.new div.day_number {
    background-color: grey;
}

.events_container {
    float: left;
}
.event_div {
    font-size: 11px;
    border: 2px solid #add8e6;
    min-width: 100px;
    width: 100%;
    height: 25px;
    border-radius: 4px;
}

.return_div {
    border-color: #ff4500;
}

.events_row {
    display: none;
}

.events_row span.date_span {
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    line-height: 1;
    padding-top: 2px;
}

.events_row div.panel {
    padding-left: 15px;
    padding-right: 10px;
    font-size: 16px;
    min-height: 20px;
    margin-bottom: 0px;
}

