.jumbotron {
    margin-top: 10px;
    padding:10px;
    line-height: 2.25;
    font-size: 17px;
}

#errors_div {
    font-size: 14px;
}

#errors_div .error_msg {
    margin-bottom: 15px;
}

.icon {
    background-image: url("/static/glyphicons-halflings.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}

.icon_calendar {
    background-position: -192px -120px;
}

.icon_cross {
    background-position: -312px 0px;
    cursor: pointer;
}

.icon_add {
    background-position: -408px -96px;
    cursor: pointer;
}

.icon_left {
    background-position: -432px -73px;
    cursor: pointer;
}

.icon_right {
    background-position: -456px -73px;
    cursor: pointer;
}

.vehicle_icon_big {
    background-color: transparent;
    background-image: url("/static/car.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    line-height: 32px;
    margin-top: 1px;
    vertical-align: text-top;
}

.rightMenu {
    position:relative;
    float:right;
    border: 1px solid grey;
}
.right-caret {

    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000000;
    display: inline-block;
    height: 0;
    opacity: 1;
    vertical-align: top;
    width: 0;

}
.right
{
    position:absolute;

}

.product_div {
    padding-bottom: 8px;
    padding-top: 8px;
}