.jumbotron {
    margin-top: 10px;
    padding:10px;
    line-height: 2.25;
    font-size: 17px;
}

input, button, textarea, select {
    margin-bottom: 10px;
}

#errors_div {
    font-size: 14px;
}

#errors_div .error_msg {
    margin-bottom: 15px;
}

.auth_container {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
}

.icon {
    background-image: url("/static/glyphicons-halflings.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}

.icon_calendar {
    background-position: -192px -120px;
}

.icon_cross {
    background-position: -312px 0px;
    cursor: pointer;
}

.icon_add {
    background-position: -408px -96px;
    cursor: pointer;
}

.icon_left {
    background-position: -432px -73px;
    cursor: pointer;
}

.icon_right {
    background-position: -456px -73px;
    cursor: pointer;
}

.vehicle_icon_big {
    background-color: transparent;
    background-image: url("/static/car.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    line-height: 32px;
    margin-top: 1px;
    vertical-align: text-top;
}

.rightMenu {
    position:relative;
    float:right;
    border: 1px solid grey;
}
.right-caret {

    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000000;
    display: inline-block;
    height: 0;
    opacity: 1;
    vertical-align: top;
    width: 0;

}
.right
{
    position:absolute;
}

.product_div {
    padding-bottom: 8px;
    padding-top: 8px;
}

.transport_div {
    margin-bottom: 20px;
    padding-bottom: 10px
}

.sign {
    background-color: transparent;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 1px;
    vertical-align: text-top;
}

.warning_sign_med {
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-image: url("/static/warning_32.png");
}

.warning_sign_big {
    width: 48px;
    height: 48px;
    line-height: 48px;
    background-image: url("/static/warning_48.png");
}

.ok_sign_med {
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-image: url("/static/ok_32.png");
}

.datepicker-days .holiday {
    background-color: #FB9651;
}

textarea {
    height: 200px;
    margin-bottom: 15px;
    width: 500px;
}

#vehicles_list li {
    margin-left: 5px;
    margin-right: 5px;
}